<header class="mb-3">
  {{#if isLoggedIn}}
  {{> logged-in-header}}
  {{else}}
  {{> logged-out-header}}
  {{/if}}
</header>

<div class="basic-page container-fluid">
  {{#each allPosts}}
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">{{content}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">posted by {{username}} on {{date}}</small>
    </div>
  </div>
  {{/each}}
</div>
<script src="assets/js/global.js"></script>